.my_girl {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto auto;
  width: 200px;
  top: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ea80b0;
  font-size: 40px;
  font-family: "Great Vibes", cursive;
}

.lock {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
}

.lock img {
  width: 100%;
}

.modal_submit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.err {
  color: #fff;
  margin-left: 10px;
  font-size: 18px;
}

.buttons {
  display: flex;
  align-items: center;
}

.question {
  font-family: "Great Vibes", cursive;
  font-size: 24px;
  margin-right: 20px;
  color: #fff;
}
